<div class="container mt-4">
    <h1 class="text-center mb-5">Listado Completo Libros</h1>
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let libro of libros">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">{{ libro.Title }}</h5>
        
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let villano of libro.villains">
                {{ villano.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  
