
.container {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    max-width: 90%;
    border-radius: 30px;
    width: 100%;


}

p {
    color: whitesmoke;
}

.direccion,
.email,
.terminos {

    padding: 5%;
}