<div class="container espacio mt-4">
    <h1 class="text-center mb-5">Filtra tus productos preferidos</h1>
    <div class="container filtros"></div>
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let producto of productos">
        <div class="card h-100 shadow-sm">
          <img [src]="producto.thumbnail" class="card-img-top" alt="{{ producto.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ producto.title }}</h5>
            <p class="card-text text-muted">{{ producto.category }}</p>
            <p class="card-text fw-bold">{{ producto.price | currency:'EUR'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
